{{template "head.tmpl" .}}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Multiview</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Multiview</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Grid</h5>

          <div class="card-tools">
            <button type="button" onclick="expand()" class="btn btn-tool">
              <i class="fas fa-expand"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-th-large"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <a href="#" class="dropdown-item" onclick="gridMaker(4)"><i class="fas fa-th-large"></i> four players</a>
                <a href="#" class="dropdown-item" onclick="gridMaker(6)"><i class="fas fa-grip-horizontal"></i> six players</a>

              </div>
            </div>
            <div class="btn-group">
              <input type="hidden" id="defaultPlayer" value="hls" />
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <a href="#" class="dropdown-item" onclick="defaultPlayer('hls',this)">Play</a>
              </div>
            </div>

          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="grid-wrapper" id="grid-wrapper">

          </div>
          <div class="main-player-wrapper d-none">

            <div class="main-player" data-player="none" data-uuid="0">
              <video autoplay></video>
              <div class="play-info"> </div>
            </div>
            <a onclick="closeMain()"><i class="fas fa-times"></i></a>
          </div>
          <!-- STREAMS LIST -->
          <div class="modal fade" id="choiseChannel" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Click on stream to play</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input type="hidden" id="player-index" value="0" />
                  <div class="row">
                    {{ range $key, $value := .streams }}
                    <div class="col-12 col-sm-6" id="{{ $key }}">
                      <div class="card  card-success">
                        <div id="carousel_{{$key}}" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                            {{ range $k, $v := .Channels }}
                            <li data-target="#carousel_{{$key}}" data-slide-to="{{$k}}" class="{{ if eq $k "0"}} active {{end}}"></li>
                            {{end}}
                          </ol>
                          <div class="carousel-inner">
                            {{ range $k, $v := .Channels }}
                            <div class="carousel-item {{ if eq $k "0"}} active {{end}}">
                              <a onclick="play('{{ $key }}',null,{{$k}})" href="#"><img class="d-block w-100 stream-img" channel="{{$k}}" src="/../static/img/noimage.svg"></a>
                              <div class="carousel-caption d-none d-md-block">
                                <h5>{{$value.Name}}</h5>
                                <p>Channel: {{$k}}</p>
                              </div>
                            </div>
                            {{end}}
                          </div>
                          <a class="carousel-control-prev" href="#carousel_{{$key}}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carousel_{{$key}}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>

                      </div>
                    </div>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./STREAMS LIST -->
        </div>
        <!-- ./card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
{{template "foot.tmpl" .}}

<script src="/../static/plugins/hlsjs/hls.min.js"></script>
<script>
  const playerType = 'hls';
  let players = {};
  $(document).ready(() => {
    gridMaker(multiviewGrid('get'));
    restoreStreams();
  });

  function defaultPlayer(type, el) {
    $('#defaultPlayer').val(type);
    $(el).closest('.btn-group').find('button').html($(el).text());
  }

  function gridMaker(col = 4) {
    col = parseInt(col);
    let colW;
    switch (col) {
      case 6:
        colW = 'six';
        break;
      case 9:
        colW = 'nine';
        break;
      case 12:
        colW = 'twelve';
        break;
      case 16:
        colW = 'sixteen';
        break;
      default:
        colW = '';
        break;
    }
    destroyGrid();
    for (var i = 0; i < col; i++) {
      $('#grid-wrapper').append(
        `<div class=" player ` + colW + `" data-player="none" data-uuid="0">
        <div class="play-info"></div>
        <video autoplay muted></video>
        <div class="control">
          <a href="#" class="btn  btn-success btn-xs" onclick="openChoise(this)"><i class="fas fa-plus"></i> Add</a>
                <a href="#" class="btn  btn-info btn-xs btn-play-main"  onclick="playMainStream(this)"><i class="fas fa-expand"></i> Expand</a>
                <a href="#" class="btn  btn-danger btn-xs"  onclick="destoyPlayer(` + i + `)"><i class="fas fa-times"></i> Delete</a>
        </div>
        </div>`);
    }
    multiviewGrid('set', col);
  }

  function destroyGrid() {
    $('.player').each(function(index) {
      destoyPlayer(index);
    });
    $('#grid-wrapper').empty();
  }

  function openChoise(dom) {
    $('#player-index').val($(dom).closest('.player').index());
    $('#choiseChannel').modal('show');
  }

  function play(uuid, index, chan, typePlayer) {

    if (typeof(index) == 'undefined' || index == null) {
      index = $('#player-index').val();
    }
    let videoPlayer = $('.main-player');
    if (index != 'main') {
      videoPlayer = $('.player').eq(index);
    }
    $('#choiseChannel').modal('hide');
    destoyPlayer(index);
    videoPlayer.find('video').css('background', '#000');

    let playerType = $('#defaultPlayer').val();
    if (!!typePlayer) {
      playerType = typePlayer;
    }
    videoPlayer.attr('data-player', playerType);
    videoPlayer.attr('data-uuid', uuid);

    let channel = 0;

    if (typeof(streams[uuid].channels[1]) !== "undefined") {
      channel = 1;
    }
    if (typeof(chan) !== "undefined") {
      channel = chan;
    }
    if (index == 'main') {
      channel = 0;
    } else {
      packStreamms(index, uuid, chan, playerType);
    }

    videoPlayer.find('.play-info').html('Stream: ' + streams[uuid].name + ' | player type:' + playerType + ' | channel: ' + channel);
    //fix stalled video in safari
    videoPlayer.find('video')[0].addEventListener('pause', () => {
      if (videoPlayer.find('video')[0].currentTime > videoPlayer.find('video')[0].buffered.end((videoPlayer.find('video')[0].buffered.length - 1))) {
        videoPlayer.find('video')[0].currentTime = videoPlayer.find('video')[0].buffered.end((videoPlayer.find('video')[0].buffered.length - 1)) - 0.1;
        videoPlayer.find('video')[0].play();
      }
    });

    let url = '/stream/' + uuid + '/channel/' + channel + '/hls/live/index.m3u8';

    if (videoPlayer.find('video')[0].canPlayType('application/vnd.apple.mpegurl')) {
      videoPlayer.find('video')[0].src = url;
      videoPlayer.find('video')[0].load();
    } else if (Hls.isSupported()) {
      players[index] = new Hls({
        manifestLoadingTimeOut: 60000
      });
      players[index].loadSource(url);
      players[index].attachMedia(videoPlayer.find('video')[0]);
    } else {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Your browser don`t support hls '
      });
    }

  }

  function destoyPlayer(index) {
    let videoPlayer = $('.main-player');
    if (index != 'main') {
      videoPlayer = $('.player').eq(index);
    }
    let type = videoPlayer.attr('data-player');
    videoPlayer.find('video').css('background', '#343a40');
    if (!!players[index]) {
      players[index].destroy();
      delete players[index];
    }
    videoPlayer.attr('data-player', 'none');
    videoPlayer.attr('data-uuid', 0);
    videoPlayer.find('.play-info').html('');
    videoPlayer.find('video')[0].src = '';
    videoPlayer.find('video')[0].load();

    unpackStreams(index);
  }

  function expand(element) {
    fullscreenOn($('#grid-wrapper').parent()[0]);
  }

  function playMainStream(element) {
    let uuid = $(element).closest('.player').attr('data-uuid');
    if (uuid == 0) {
      return;
    }
    $('.main-player-wrapper').removeClass('d-none');
    play(uuid, 'main');
  }

  function closeMain() {
    destoyPlayer('main');
    $('.main-player-wrapper').addClass('d-none');
  }


  function fullscreenOff() {
    if (document.requestFullscreen) {
      document.requestFullscreen();
    } else if (document.webkitRequestFullscreen) {
      document.webkitRequestFullscreen();
    } else if (document.mozRequestFullscreen) {
      document.mozRequestFullScreen();
    }
  }

  function packStreamms(index, uuid, channel, type) {
    let multiviewPlayers;
    if (localStorage.getItem('multiviewPlayers') != null) {
      multiviewPlayers = JSON.parse(localStorage.getItem('multiviewPlayers'));
    } else {
      multiviewPlayers = {};
    }
    multiviewPlayers[index] = {
      uuid: uuid,
      channel: channel,
      playerType: type
    }
    localStorage.setItem('multiviewPlayers', JSON.stringify(multiviewPlayers));
  }

  function unpackStreams(index) {
    if (localStorage.getItem('multiviewPlayers') != null) {
      let multiviewPlayers = JSON.parse(localStorage.getItem('multiviewPlayers'));
      delete multiviewPlayers[index];
      localStorage.setItem('multiviewPlayers', JSON.stringify(multiviewPlayers));
    }
  }

  function restoreStreams() {
    if (localStorage.getItem('multiviewPlayers') != null) {

      let multiviewPlayers = JSON.parse(localStorage.getItem('multiviewPlayers'));
      if (Object.keys(multiviewPlayers).length > 0) {
        $.each(multiviewPlayers, function(key, val) {

          if (val.uuid in streams && val.channel in streams[val.uuid].channels) {
            play(val.uuid, key, val.channel, val.playerType);
          } else {
            unpackStreams(key);
          }
        })
      }

    }
  }

  function multiviewGrid(type, grid) {
    //console.log('type, grid')
    let defGrid = 4;
    switch (type) {
      case 'set':
        localStorage.setItem('multiviewGrid', grid);
        break;
      case 'get':
        if (localStorage.getItem('multiviewGrid') != null) {
          return localStorage.getItem('multiviewGrid');
        } else {
          return defGrid
        }
        break;
      default:
        return defGrid
    }
    return defGrid
  }

  $('#grid-wrapper').on('dblclick','.player',function (){
      $(this).find('.btn-play-main').click();
  });
  $('.main-player').on('dblclick',function (){
    closeMain()
  });
</script>
